@mixin button($color, $bg, $hover, $padding) {
  background-color: $bg;
  // background: linear-gradient(to right, $primary-dark 0%, $primary-light 35%, $primary-light 65%, $primary-dark 100%);
  color: $color;
  padding: $padding $padding * 3;
  text-transform: uppercase;
  font-size: 85%; // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  transition: all .25s ease;
  letter-spacing: .1em;
  &:hover {
    background-color: $hover;
    // background: linear-gradient(to right, $primary-light 0%, $primary-dark 35%, $primary-dark 65%, $primary-light 100%);
    box-shadow: 0px 0px 10px 0px $primary;
  }
}

@mixin button-block($color, $bg, $hover, $padding) {
  background-color: $bg;
  color: $color;
  margin: 1em auto;
  padding: $padding 0;
  text-transform: uppercase;
  font-size: 85%;
  transition: all .25s ease;
  letter-spacing: .1em;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  &:hover {
    background-color: $hover;
    box-shadow: 0px 0px 10px 0px $primary;
  }
}

@mixin title($color) {
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: .9em;
  &>span {
    color: $color;
    font-weight: 600;
  }
}