nav {
  height: 5em;
  position: relative;
  background-color: $primary;
  color: $text-base-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
  font-size: 13px;
  letter-spacing: .025em;
  z-index: 3;
  background: linear-gradient(to right, $primary-dark 0%, $primary-light 35%, $primary-light 65%, $primary-dark 100%);
  transition: all .25s linear;
  #title {
    @media screen and (max-width: $nav-break) {
      flex: .75;
    }
  }
  @media screen and (max-width: $nav-break) {
    padding: 0 1.5em;
  }
  #toggle {
    display: none;
    font-size: 2em;
    font-weight: 100;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    @media screen and (max-width: $nav-break) {
      display: block;
    }
  }
  a {
    display: flex;
    flex: 1;
    align-items: center;
    color: $text-base-color;
    transition: color .25s ease;
    &:hover {
      color: $primary-extra-light;
    }
    img {
      width: 50px;
      margin-right: 1em;
    }
  }
  .links,
  .user {
    flex: 1;
    display: flex;
    align-items: center;
    li {
      padding: 1em;
      a {
        padding: 1em;
      }
    }
    @media screen and (max-width: $nav-break) {
      display: none;
    }
  }
  .links {
    text-transform: uppercase;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    li > a {
      color: $bg;
      &:hover {
        color: $text-base-color;
      }
    }
    li:nth-child(2) {
      a {
        border-right: 1px solid $primary-medium;
        border-left: 1px solid $primary-medium;
      }
    }
  }
  .user {
    justify-content: flex-end;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 95%;
      padding: .5em;
      cursor: pointer;
      transition: color .25s ease;
      a {
        padding: 0;
        // color: $text-base-color;
      }
      i {
        height: 18.84px;
        font-size: 1.5em;
        margin-right: .25em;
      }
      &:hover {
        // color: $primary-extra-light;
      }
    }
    img {
      width: 50px;
      margin-left: 1em;
    }
  }
}
.nav-active {
  @media screen and (max-width: $nav-break) {
    height: auto;
    flex-direction: column;
    padding: 2.5em;
    .user,
    .links {
      display: flex;
      margin: 0;
    }
  } 
}