.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: $bg-medium;
  box-shadow: 0px 0px 10px 0px $primary;
  display: none;
  flex-direction: column;
  height: auto;
  min-width: 400px;
  // min-height: 150px;
  padding: 1em;
  border-radius: 4px;
  transition: opacity .25s ease;
  .pop-up-title {
    color: $primary-extra-light;
  }
  .pop-up-content {
    display: flex;
    flex-direction: column;
    padding: .5em 0;
    input {
      box-sizing: border-box;
      padding: .5em;
    }
  }
  .pop-up-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      margin: .25em;
      display: inline;
    }
  }
  @media screen and (max-width: 700px) {
    min-width: 80vw;
  }
}
.pop-up-active {
  opacity: 0;
  display: flex;
}